body{
    font-family: Arial, Helvetica, sans-serif;
}

table, td, tr, th {
    border: 1px solid #000000;
    border-collapse: collapse;  
    text-align: end;
}
  
  td, th {
    padding: 10px; 
}

.bold {
    font-weight: bold;
    text-align: center;
}
  .result {
    width: 400px;
    text-align: right;
    padding-right: 5px; 
}

th {
    text-align: center;
}
